body{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

.job-header.color-2{
    width: 100%;
    height: 450px;
    background-color: var(--color_2);
    display: flex;
    align-items: flex-end;
    margin-top: 0 !important;
}
.content{
    font-size: 16px;
    line-height: 2;
}
.content ul{
    list-style: none;
    padding-left: 25px;
    margin: 20px;
}
.content ul li{
    position: relative;
}
.content ul li::before {
    content: "\2022";
    color: #7C7C7C;
    font-weight: bolder;
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 50%;
    transform: translate(-20px, -50%);
}
.content>div{
    width: 80%;
    margin:30px auto;
}
.content .job-header .description{ 
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
.content .job-header .description .with-line div {
    font-family: "'Poppins'";
    font-weight: 400;
}
.content .job-header .description .with-line .text {
    font-size: 20px !important;
}
.content .job-header .description .with-line .title {
    font-weight: 200;
    font-size: 20px;
}
.content .job-header .description .with-line .title::after {
    content: ":";

}
.content .job-header .description .with-line{
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    border-left: 3px solid black;
    padding-left: 20px;
}
.content .job-header .description h1{ 
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins';
}
.content .summary{
   margin: 3rem auto;
}
.content .summary .summary-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* margin: auto; */
}
.hidden-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    width: 50%;
}
.hidden-form form>div{
    display: flex;
   width: 100%;
}
.hidden-form form .inputs{
    justify-content: space-between;
    font-size: 12px;
}
.hidden-form form .inputs div{
    width: 49%;
    position: relative;
}
.hidden-form form div input, .hidden-form form div .file-input{
    height: 40px;
    border: 2px solid var(--text_color);
    border-radius: 5px;
    padding: 0 10px;
    width: calc(100% - 10px*2);
    outline: none;
}
.file-input{
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-file{
    background: gainsboro;
    padding: 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}
.hidden-form form .file-name{
    /* no wrap */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.hidden-form form .input div{
    width: 100%;
    position: relative;
}
.hidden-form form .input.textarea>div>textarea{
    width: calc(100% - 10px*2);
    border-radius: 5px;
    border: 2px solid var(--text_color);
    padding: 10px;
    outline: none;
}
.hidden-form form .input.textarea label{
    position: absolute;
    left: 10px;
    color: var(--text_color);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    pointer-events: none;
    padding: 0 2px;
    transform: translateY(-50%);
    background: #FFFFFF;
    line-height: 0.9;
}
.hidden-form form .submit>div{
    width: 100%;
}
.hidden-form form .submit>div>input{
    /* width: 100%; */
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--color_5);
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: auto ;
    padding: 0 20px;
}
/* .hidden-form form .submit>div>input disabled */
.hidden-form form .submit>div>input:disabled{
    background-color: #7C7C7C;
    cursor: not-allowed;
}
.hidden-form form div input+label{
    position: absolute;
    top: 50%;
    left: 10px;
    color: var(--text_color);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    pointer-events: none;
    padding: 0 2px;
    transform: translateY(-50%);
}
.hidden-form form div input:focus+label,
.hidden-form form div input:not(:placeholder-shown)+label{
    font-size: 12px;
    background-color: #FFFFFF;
    transform: translateY(-35px);
}
.hidden-form form div input::placeholder{
    color:transparent !important;
}
.hidden-form{
    display: none;
}
.hidden-form.active{
    display: block;
}

.show-from{
    height: 40px;
}
.show-from .show-from-btn{
    height: 100%;
}
.show-from .show-from-btn span.btn{    
    height: 100%;
    border-radius: 5px;
    background-color: var(--color_4);
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-none{
    display: none !important;
}



.sub__head{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 140px;
    padding-top: 98px;
}

.sub__item a{
  color: #2F0052;
  font-size: 14px;
}

.breadcrumb{
    margin: 0 10%;
    margin-top: 40px;
}

.breadcrumb a{
    font-size: 13px;
    color: black;
}

.cr_li {margin-left: 20px}

.career{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 500px;
    align-items: center;
    transform: translateY(-150px);
    z-index: -1;
    position: relative;
}

.career .first{
    background-color: #FFC400;
    height: 100%;
    display: flex;
    padding-right: 40px;
    width: calc(50% - 40px);
    align-items: center;
}
.career .first div{
    display: contents;
}
.career .last{
    display: flex;
    /* background: blueviolet; */
    height: 100%;
    width: 50%;
    align-items: center;
}

/* .career .first div, .career .last div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/*
.career .first div{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
} */

.career .first div h1{
    font-size: 90px;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
    margin-left: 140px;
}

.career .first div span{
    background-color: blueviolet;
    padding: 7px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 0;
}

/* .career .last div{
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.career .first div{
    height: 450px;
}

.career .last div{
    height: 500px;
} */

.jobs{
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.jobs h1{
    font-size: 50px;
    padding: 50px 0;
    margin: 0;
    width: 100%;
    font-weight: 600;
    color: rgb(0, 0, 0,0.8);
}

.jobs span{
    background-color: #FFA700;
    padding: 4px;
    font-size: 0;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.jobs div.row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.jobs div.row div{
    border-left: 4px solid #FFA700;
    margin: 30px 0;
    padding: 0 15px;
    width: 450px;
}
.text{
    font-size: 18px;
    line-height: 1.6em;
    color: #3e3e3e;
    width: 80%;
}
.jobs div.row div h5{
    font-weight: 700;
    font-size: 22px;
    padding-top: 10px;
    color: rgb(0, 0, 0,0.78);
}

.jobs div.row div h6{
    padding-bottom: 15px;
    font-size: 13px;
    color: rgb(0, 0, 0,0.6);
}

.jobs div.row div p{
    margin: 5px 0;
}

.jobs div.row div a{
    color: #FF7600;
    font-size: 12px;
}

/* footer{
    display: none;
} */

@media only screen and (max-width: 1024px) {
    .cr_li {margin-left: 10px}

    .career .first div h1{
        font-size: 70px;
        margin-left: 100px;
    }
    
    .career .first div span{
        padding: 5px;
        font-size: 5px;
        margin-left: 10px;
    }

    .career .last div{
        font-size: 14px;
    }

    .jobs div.row div h5{
        font-size: 15px;
    }

    .jobs div.row div h6{
        font-size: 13px;
    }

    .jobs div.row div p{
        margin: 5px 0;
        font-size: 12px;
    }

    .jobs div.row div a{
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .career .first div h1{
        font-size: 100px;
        margin-left: 100px;
    }

    .career .last {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .career .last div{
        height: 300px;
    }
    

    .jobs{
        padding: 0 60px;
        padding-bottom: 130px;
    }
    
    .jobs h1{
        font-size: 38px;
    }
    
    .jobs div.row {
        padding: 0 15px;
        padding-right: 0;
    }
    
    .jobs div.row div{
        border-left: 4px solid #FFA700;
        margin: 30px 0;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 425px) {
    .breadcrumb li a{
        font-size: 13px;
    }
        
    .career .first div h1{
        font-size: 60px;
        font-weight: 600;
        margin-left: 0;
    }

    .career .first div span{
        padding: 5px;
        font-size: 9px;
        margin-left: 15px;
    }

    .career .last div{
        width: 70%;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .breadcrumb li a{
        font-size: 12px;
    }

    .breadcrumb li a{
        font-size: 10px;
    }
        
    .career .first div h1{
        font-size: 55px;
    }

    .career .first div span{
        padding: 4px;
        font-size: 5px;
        margin-left: 15px;
    }

    .career .last div{
        font-size: 11px;
        line-height: 20px;
    }

    .jobs{
        padding: 0 40px;
        padding-bottom: 160px;
    }

    .jobs h1{
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 320px) {
    .breadcrumb li a{
        font-size: 11px;
    }

    .career .first div{
        height: 400px;
    }
    
    .career .last div{
        height: 250px;
    }

    .career .last div{
        font-size: 9px;
        line-height: 20px;
    }

    .jobs{
        padding: 0 30px;
        padding-bottom: 90px;
    }

    .jobs h1 span{
        margin-left: 10px;
    }

    .jobs div.row div p{
        font-size: 10px;
    }
}