
/*  <!--==================== footer ===========--> */

.footer {
    margin: 0;
    padding-top: 20px;
  }
  
  .ul-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -2;
  }
  
  .footer-logo img {
    width: 250px;
  }
  
  .social-media {
    font-size: 0;
    display: block;
    list-style: none;
    padding-top: 100px;
  }
  
  .social-media img {
    object-fit: cover;
    gap: 0px;
    width: 50px;
  }
  
  .li-fb {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-ig {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-in {
    list-style: none;
  }
  
  .rightss {
    list-style: none;
    padding-top: 100px;
    font-size: 18px;
    line-height: 1.2em;
  }
  @media (max-width: 479px) {
    /*  <!--==================== footer ===========--> */

.footer {
    margin: 0;
    padding-top: 100px;
  }
  
  .ul-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo img {
    display: none;
  }
  
  .social-media {
    font-size: 0;
    display: block;
    list-style: none;
    padding-top: 0px;
  }
  
  .social-media img {
    object-fit: cover;
    gap: 0px;
    width: 20px;
  }
  
  .li-fb {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-ig {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-in {
    list-style: none;
  }
  
  .rightss {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 10px;
    line-height: 1.4em;
  }
  
  .rightss p{
    text-align: center;
  }
  
}
@media (min-width: 480px) and (max-width: 767px) {
    
/*  <!--==================== footer ===========--> */

.footer {
    margin: 0;
    padding-top: 100px;
  }
  
  .ul-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo img {
    display: none;
  }
  
  .social-media {
    font-size: 0;
    display: block;
    list-style: none;
    padding-top: 0px;
  }
  
  .social-media img {
    object-fit: cover;
    gap: 0px;
    width: 35px;
  }
  
  .li-fb {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-ig {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-in {
    list-style: none;
  }
  
  .rightss {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 1.4em;
  }
  
  .rightss p{
    text-align: center;
  }
  
}
@media (min-width: 768px) and (max-width: 991px) {
    /*  <!--==================== footer ===========--> */

.footer {
    margin: 0;
    padding-top: 0px;
  }
  
  .ul-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -2;
  }
  
  .footer-logo img {
    width: 180px;
    padding-top: 24px;
  }
  
  .social-media {
    font-size: 0;
    display: block;
    list-style: none;
  
  }
  
  .social-media img {
    object-fit: cover;
    gap: 0px;
    width: 30px;
  }
  
  .li-fb {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-ig {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-in {
    list-style: none;
  }
  
  .rightss {
    list-style: none;
  
    font-size: 15px;
    line-height: 1.2em;
  }
  
}
@media (min-width: 992px) and (max-width: 1199px) {
    
/*  <!--==================== footer ===========--> */

.footer {
    margin: 0;
    padding-top: 0px;
  }
  
  .ul-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -2;
  }
  
  .footer-logo img {
    width: 180px;
    padding-top: 24px;
  }
  
  .social-media {
    font-size: 0;
    display: block;
    list-style: none;
  
  }
  
  .social-media img {
    object-fit: cover;
    gap: 0px;
    width: 30px;
  }
  
  .li-fb {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-ig {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-in {
    list-style: none;
  }
  
  .rightss {
    list-style: none;
  
    font-size: 15px;
    line-height: 1.2em;
  }
  
}
@media (min-width: 1200px) and (max-width: 1919px) {
    /*  <!--==================== footer ===========--> */

.footer {
    margin: 0;
    padding-top: 20px;
  }
  
  .ul-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -2;
  }
  
  .footer-logo img {
    width: 250px;
  }
  
  .social-media {
    font-size: 0;
    display: block;
    list-style: none;
    padding-top: 100px;
  }
  
  .social-media img {
    object-fit: cover;
    gap: 0px;
    width: 50px;
  }
  
  .li-fb {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-ig {
    list-style: none;
    padding-right: 20px;
  }
  
  .li-in {
    list-style: none;
  }
  
  .rightss {
    list-style: none;
    padding-top: 100px;
    font-size: 18px;
    line-height: 1.2em;
  }
}