@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
}

.row {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0!important;
    margin: 0!important;
}

.nav-right {
    background-color: #9D00FF;
}

.container-fluid {
    background-color: #9D00FF;
}

.cont {
    background-color: white;
}

.nav-left {
    background-color: black;
}

.navbar-brand1 {
    margin-top: -45px;
    margin-left: 95px;
}

.navbar-brand2{
    display: none;
}


/* <!-- Page content--> */

.full-content {
    height: 480px;
}

.right-content {
    display: flex;
    background-color: #9D00FF;
    align-items: center;
    justify-content: center;
}

.left-content {
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
 .sidebar{
    padding-top: 35px;

} 

#contact-info a {
    text-decoration: none;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: #FFFF;
    font-size: 16px;
    margin-left: 25px;
    
}

.text1 {
    font-size: 181px;
    font-weight: bolder;
    color: #FFFF;
    align-items: center;
    justify-content: center;
}

.text2 {
    font-size: 181px;
    color: #9D00FF;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.email-pipe:before {
    content: '|';
    padding: 10px;
}


/* <!--==================== Solution ====================--> */


/* .right-solution{
    margin-left: 20px;
    padding: 40px;
} */

.right-solution {
    padding: 70px;

}

.sous-solution1 {
    white-space: nowrap;
}

.title3 {
    display: inline-block;
    color: #8B00E1;
    font-size: 85px;
    padding-bottom: 40px;
}

.title4 {
    display: inline-block;
    color: #FFD700;
    font-size: 85px;
}

.text3 {
    font-size: 22px;
    color: #60327D;
}

.left-solution {
    background-color: #F4E8FC;
    justify-content: flex-end;
    gap: 20px;
}

.line1 {
    background-color: #8B00E1;
    height: 8px;
    border-radius: 10px;
    width: 5%;
}

.line2 {
    background-color: #8B00E1;
    height: 8px;
    border-radius: 10px;
    width: 10%;
}

.line3 {
    background-color: #8B00E1;
    height: 8px;
    border-radius: 10px;
    width: 35%;
}


/* <!--==================== Services====================--> */

.servicess {
    margin: 0;
    padding: 0;
}

.service-right {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 0;
    margin-left: 0;
    justify-content: flex-start;
    background: linear-gradient(to right,
    #00ffe107 0%, #00ffe107 50%, #00ffe107 50%, #00ffe107 100%),
     linear-gradient(to right, #FFF 0%, #FFF 50%, #FFF  50%, #FFF  100%);
        background-size: 100% 50%;
        background-position: center top, center bottom;
        background-repeat: no-repeat;
}

.service-left {
    background-color: #ffd9000b;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 95px;
}

.service1{
    padding-bottom: 150px;
}

.service3{
    padding-bottom: 90px;
}


.sous-service1{
    padding-top: 20px;
}


.sous-service5{
    padding-top: 20px;
}

.sous-service4{
    padding-top: 20px;
}

.sous-service8{
    padding-top: 50px;
}

.sous-service6{
    padding-top: 20px;
}

.sous-service7{
    padding-top: 20px;
}


.sous-service2{
    padding-top: 20px;

}

.service1__line{
    border-radius: 5px;
    padding-bottom: 170%;
    border: 5px solid #FFD700;
    background-color: #FFD700;
}


.service3__line{
    border-radius: 5px;
    padding-bottom: 230%;
    background-color: #00FFE2;
    border: 5px solid #00FFE2;
}

.service4__line{
    border-radius: 5px;
    padding-bottom: 230%;
    border: 5px solid #9434cf;
    background-color: #9434cf;
}

/* .ul{
    padding-left: 1rem;
} */

.li1 {
    color: #FFD800;
    padding-left: 29px;
}

li::marker{
    font-size: 2rem;
    font-weight: bolder;
}

.li1 span {
    font-size: 25px;
    color: #3B025F;
}

.li2 {
    color: #00FFE2;
    padding-left: 35px;
}

.li2 span {
    font-size: 25px;
    color: #3B025F;
}

.li3 {
    color: #9434cf;
    padding-left: 35px;
}

.li3 span {
    font-size: 25px;
    color: #3B025F;
}

.titles {
    font-size: 52px;
    font-weight: bolder;
    color: #3B025F;
    padding-bottom: 30px;
}

.li3{
    padding-top: 30px;
}

.sous-title{
    font-style: italic;
     color: #3B025F;
     padding-top: 30px;
}

/* <!--==================== Conatct ====================--> */



.circle {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.semi-circle {
    z-index: -2;
    position: absolute;
    Width: 100%;
    border-radius: 50%;
    top: 21%;
    background-color: #eacff357;
    padding-top: 63%;
}


.contact-left {
    padding-top: 280px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.455);
    justify-content: flex-end;
    padding-right: 50px;
}

.contact-right {
    display: flex;
    justify-content: flex-start;
    padding-top: 270px;
    background-color: #f4e8fc5f;
   
}

.sous-contact1{
    display: flex;
    justify-content: flex-end;
}


.sous-contact1 p {
    color: #3B025F;
    font-size: 48px;
    font-weight: 900;
    line-height: 1em;
}

.sous-contact1 span {
    color: #CE00FF; 
    margin-left:5px;
}

.sous-contact1 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: end;
    padding-right: 0px;
}

.contact-line {
    border-right: 4px solid #3B025F;
    height: 80px;
    width: fit-content;
    padding-top: 169px;

}

.two-a {
    line-height: 2em;
    font-weight: 400;
}

.one-a {
    font-weight: 400;
}

.two-a span{
   font-size: 15px;
}

.one-a span{
    font-size: 15px;
 }

.start-cont{
    display: flex;
    justify-content: start;
    padding-left: 50px;
}


.sous-contact3 a {
    text-decoration: none;
    color: #3B025F;
    font-size: 20px;
}



/* <!--==================== Footer ====================--> */

.footer-logo{
    list-style: none;

}

.social-media{
  font-size: 0;
  display: block;
  list-style: none;
  scale: 0.9;
}

.social-media img{
    object-fit:cover;
    gap: 0px;
    width: 50px;
}

.li-fb{
    list-style: none;
    padding-right: 20px;
}

.li-ig{
    list-style: none;
    padding-right: 20px;
}

.li-in{
    list-style: none;
}

.rightss{
  list-style: none;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
}



.ul-footer{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f8f2fc00;
  align-items: center;
  margin: 70px 0px 0 0px;
  padding: 0;
}

.footer{
    margin: 0;
    padding: 0;
   
}

/* .ul-footer{
    padding-top: 70px;
    padding-bottom: 0;
} */

/* <!--==================== Semi cercle ====================--> */


/* <!--==================== Responsive ====================--> */
.contact-mobile {
    display: none;
}

@media (max-width: 480px) {

    .contact-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #contact-info {
        display: none;
    }

    .contact-mobile a{
        font-size: 11px;
        text-decoration: none;
        color: #8C00E4;
    }


    /* navbar */

.navbar-brand1 {
    display: none;
}


.navbar-brand2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 30%;

}
     /* content */

     .full-content{
        height: 360px;
     }
     .right-content{
        width: 100%;
        padding-top: 27px;
        padding-left: 32px;
    }

    .left-content{
        all: unset;
        width: 100%;
        padding-left: 22px;
    }

    .comingdiv{
        all: unset;
        margin-bottom: 0;
    }
    .text1 {
        font-size: 72px;      
    }
     
    .text2{ 
        font-size: 72px;
    }

    /* .solution */

    .right-solution{
       
        padding-top: 30px;
        padding-bottom: 0px;
        width: 100%;
        padding-left: 22px;
        background: linear-gradient(to right,
         #FFF 0%, #FFF 50%, #F4E8FC 50%, #F4E8FC 100%),
          linear-gradient(to right,
           #FFF 0%, #FFF 50%, #F4E8FC  50%, #F4E8FC  100%);
        background-size: 100% 50%;
        background-position: center top, center bottom;
        background-repeat: no-repeat;
    } 

 
    .line1 {
      display: none;
        /* background-color: #8B00E1;
        height: 8px;
        border-radius: 10px;
        width: 21%;
        position: absolute;
        margin-top: -285px;
        margin-left: 305px; */
    }
    
    .line2 {
        display: none;
        /* all: unset;
        background-color: #8B00E1;
        height: 8px;
        border-radius: 10px;
        width: 10%;
        position: absolute;
        margin-top: -285px;
        margin-left: 250px; */
    }

    .line3{
        display: none;
    } 

   .title3{
    padding-top: 0px;
    padding-bottom: 0;
    font-size: 31px;
    font-weight: bolder;
}


.title4{
    font-size: 31px;
    font-weight: bolder;
}

.text3{
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
}

      /* services */

    .servicess{
        padding-bottom: 0;
    }

   
      .service-left{
        width: 100%;
        padding-left: 22px;
        padding-top: 0px;
        margin-top: 0;
        background: linear-gradient(to right,
        #FFF 0%, #ffd9000b 50%, #ffd9000b 50%, #ffd9000b 100%),
          linear-gradient(to right,
          #FFF 0%, #ffd9000b 50%, #ffd9000b 50%, #ffd9000b 100%);
        background-size: 100% 50%;
        background-position: center top, center bottom;
        background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-top: 0;
        margin-top: 0px;
      }

      .service1{
        padding-bottom: 30px;
        padding-left: 0;
        padding-top: 50px;

      }

      .sous-service2{
        padding-left: 26px;
        padding-top: 0px;

      }

      .service1__line{
        padding-top: 0px;
        padding-bottom: 47px;
      }

      .sous-service1{  
        padding-top: 0px;
      }

      .service3{
            margin-bottom: 140px;
            margin-top: 0;
            padding-top: 0;
      }

      .service2{
        padding-bottom: 0;
      }

      .service-right{
        width: 100%;
        padding-left: 22px;
        padding-top: 40px;
        margin-top: 0;
        background: linear-gradient(to right,
        #fff 0%, #00ffe124 50%, #00ffe124 50%, #00ffe124 100%),
          linear-gradient(to right,
         #FFF 0%, #f4e8fc90 50%, #f4e8fc90 50%, #f4e8fc90  100%);
        background-size: 100% 50%;
        background-position: center top, center bottom;
        background-repeat: no-repeat;
      }

      .service4{
        padding-bottom: 0;
        padding-top: 0;
        margin-top: -160px;
      }

      .titles{
        font-size: 20px;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
      }

      .li1 span{
        font-size: 10px;
      }

      .li2 span{
        font-size: 10px;
      }

      .li3 span{
        font-size: 10px;
      }

      .sous-title{
        font-size: 9px;
      }

      .service2__line{
        padding-top: 0;
        padding-bottom: 37px;
      }

      .sous-service4{
        padding-left: 60px;
        padding-top: 0;
      }

      .sous-service4 h5{
        padding-bottom: 0;
        padding-top: 0;
      }

      .service3__line{
        padding-top: 21px;
      }

      .sous-service6{
        padding-left: 22px;
        padding-top: 0px;
      }

      .service4__line{
        padding-top: 22px;
        padding-bottom: 18px;
      }

      .sous-service8{
        padding-left: 22px;
        padding-top: 0px;
        margin-top: -20px;
      }

      .sous-service7{
        padding-top: 0px;
        margin-top: 0;
      }

      .sous-service8 h5{
        padding-bottom: 0;
        padding-top: 0;
      }

      .li3{
        padding-top: 0;
        padding-left: 15px;
      }

      
      .li2{
        padding-top: 0;
        padding-left: 15px;
      }

      
      .li1 {
        padding-top: 0;
        padding-left: 15px;
      }

      
      .sous-title{
        padding-top: 10px;
        padding-left: 0;
      }

      li::marker{
        font-size: 1rem;
        font-weight: bold;
        padding-left: 0;
        margin-left: 0;
    }
      


     /* contact */
    

      .sous-contact1{     
          display: flex;   
          justify-content: center;
          padding-right: 0;
          padding-left: 0;
        }

        .sous-contact1 p {
            text-align : justify;
            font-size: 37px; 
        }
    
      .contact-line{
        display: none;
      }

       .contact-left{ 
        padding-top: 50px;
        width: 100%;
        background: linear-gradient(
        to right,
        #f4e8fc57 0%,
        #f4e8fc85 50%,
           #f4e8fc23 50%,
           #f4e8fc23 100%
         );
       }

       .contact-right{
        display: flex;   
          justify-content: center;
          padding-right: 0;
          padding-left: 0;
        padding-top: 0;
        width: 100%;
        background: linear-gradient(
        to right,
        #f4e8fc00 0%,
        #f4e8fc00 50%,
           #f4e8fc00 50%,
           #f4e8fc00 100%
         );
       }

       .start-cont{
        display: flex;   
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
         padding-top: 20px;
       }

      .two-a a{
        font-size: 12px;
        line-height: 0em;
      }

      .one-a a{
        font-size: 11px;
        line-height: 0em;
      }

      .one-a span{
        word-wrap:break-word !important;
      }


      /* footer */


    .footer{
        all: unset;
        width: 100%;
        background: linear-gradient(
        to right,
        #f4e8fc00 0%,
        #f4e8fc00 50%,
           #f4e8fc00 50%,
           #f4e8fc41 100%
         );
    } 

 
    .ul-footer{
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
 
    .footer-logo{
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: -87px;
        margin-top: -29px;
    }
    .footer-logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        width: 170px;
    }
    


    .social-media{
        all: unset;
        padding-top: 15px;
        font-size: 0;
        text-decoration: none;
        display: flex;   
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 20px;
    }

    .social-media img{
        text-decoration: none;
        padding-top: 55px;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        width: 65%;
    }    

    .li-fb{
        list-style: none;
        padding-right: 0px;
    }
    
    .li-ig{
        list-style: none;
        padding-right: 0px;
    }
    
    .li-in{
        list-style: none;
    }


    .rightss{
        all: unset;
        padding-top: 35px;
        line-height: 0.5em;
    }

    .rightss p{
        display: flex;
        justify-content: center;
        font-size: 14px;
      
    }

    .semi-circle{
        position: absolute;
        height: 35em;
        width: 100%;
        border-radius: 50% 50% 0 0;
        background-color:  #ad38d41a;
        margin-top: -98px;
        z-index: -2;
      }
    

}


@media (min-width: 480px) and (max-width: 767px) {
    
    .contact-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #contact-info {
        display: none;
    }

    .contact-mobile a{
        font-size: 16px;
        text-decoration: none;
        color: #8C00E4;
    }


    /* navbar */

.navbar-brand1 {
    display: none;
}


.navbar-brand2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 20%;

}
     /* content */

     .full-content{
        height: 360px;
     }
     .right-content{
        width: 100%;
        padding-top: 27px;
        padding-left: 32px;
    }

    .left-content{
        all: unset;
        width: 100%;
        padding-left: 22px;
    }

    .comingdiv{
        all: unset;
        margin-bottom: 0;
    }
    .text1 {
        font-size: 7em;      
    }
     
    .text2{ 
        font-size: 7em;
    }

    /* .solution */

    .right-solution{
       
        padding-top: 30px;
        padding-bottom: 0px;
        width: 100%;
        padding-left: 22px;
        background: linear-gradient(to right,
         #FFF 0%, #FFF 50%, #F4E8FC 50%, #F4E8FC 100%),
          linear-gradient(to right,
           #FFF 0%, #FFF 50%, #F4E8FC  50%, #F4E8FC  100%);
        background-size: 100% 50%;
        background-position: center top, center bottom;
        background-repeat: no-repeat;
    } 

 
    .line1 {
      display: none;
        /* background-color: #8B00E1;
        height: 8px;
        border-radius: 10px;
        width: 21%;
        position: absolute;
        margin-top: -285px;
        margin-left: 305px; */
    }
    
    .line2 {
        display: none;
        /* all: unset;
        background-color: #8B00E1;
        height: 8px;
        border-radius: 10px;
        width: 10%;
        position: absolute;
        margin-top: -285px;
        margin-left: 250px; */
    }

    .line3{
        display: none;
    } 

   .title3{
    padding-top: 0px;
    padding-bottom: 0;
    font-size: 3em;
    font-weight: bolder;
}


.title4{
    font-size: 4em;
    font-weight: bolder;
}

.text3{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
}

      /* services */

    .servicess{
        padding-bottom: 0;
    }

   
      .service-left{
        width: 100%;
        padding-left: 22px;
        padding-top: 0px;
        margin-top: 0;
        background: linear-gradient(to right,
        #FFF 0%, #ffd9000b 50%, #ffd9000b 50%, #ffd9000b 100%),
          linear-gradient(to right,
          #FFF 0%, #ffd9000b  50%, #ffd9000b 50%, #ffd9000b 100%);
        background-size: 100% 50%;
        background-position: center top, center bottom;
        background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-top: 0;
        margin-top: 0px;
      }

      .service1{
        padding-bottom: 30px;
        padding-left: 0;
        padding-top: 50px;

      }

      .sous-service2{
        padding-left: 10px;
        padding-top: 10px;

      }

      .service1__line{
        padding-top: 0px;
        padding-bottom: 32px;
      }

      .sous-service1{  
        padding-top: 0px;
      }

      .service3{
            margin-bottom: 140px;
            margin-top: 0;
            padding-top: 0;
      }

      .service2{
        padding-bottom: 0;
      }

      .service-right{
        width: 100%;
        padding-left: 22px;
        padding-top: 40px;
        margin-top: 0;
        background: linear-gradient(to right,
        #fff 0%, #00ffe124 50%, #00ffe124 50%, #00ffe124 100%),
          linear-gradient(to right,
         #FFF 0%, #f4e8fc90 50%, #f4e8fc90 50%, #f4e8fc90  100%);
        background-size: 100% 50%;
        background-position: center top, center bottom;
        background-repeat: no-repeat;
      }

      .service4{
        padding-bottom: 0;
        padding-top: 0;
        margin-top: -160px;
      }

      .titles{
        font-size: 20px;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
      }

      .li1 span{
        font-size: 10px;
      }

      .li2 span{
        font-size: 10px;
      }

      .li3 span{
        font-size: 10px;
      }

      .sous-title{
        font-size: 9px;
      }

      .service2__line{
        padding-top: 0;
        padding-bottom: 37px;
      }

      .sous-service4{
        padding-left: 60px;
        padding-top: 0;
      }

      .sous-service4 h5{
        padding-bottom: 0;
        padding-top: 0;
      }

      .service3__line{
        padding-top: 15px;
        padding-bottom: 22px;
      }

      .sous-service6{
        padding-left: 10px;
        padding-top: 14px;
      }

      .service4__line{
        padding-top: 22px;
        padding-bottom: 18px;
      }

      .sous-service8{
        padding-left: 10px;
        padding-top: 10px;
        margin-top: -20px;
      }

      .sous-service7{
        padding-top: 0px;
        margin-top: 0;
      }

      .sous-service8 h5{
        padding-bottom: 0;
        padding-top: 0;
      }

      .li3{
        padding-top: 0;
        padding-left: 15px;
      }

      
      .li2{
        padding-top: 0;
        padding-left: 15px;
      }

      
      .li1 {
        padding-top: 0;
        padding-left: 15px;
      }

      
      .sous-title{
        padding-top: 10px;
        padding-left: 0;
      }

      li::marker{
        font-size: 1rem;
        font-weight: bold;
        padding-left: 0;
        margin-left: 0;
    }
      


     /* contact */
    
      .sous-contact1{     
          display: flex;   
          justify-content: center;
          padding-right: 0;
          padding-left: 0;
        }

        .sous-contact1 p {
            text-align : justify;
            font-size: 37px; 
        }
    
      .contact-line{
        display: none;
      }

       .contact-left{ 
        padding-top: 50px;
        width: 100%;
        background: linear-gradient(
        to right,
        #f4e8fc8b 0%,
        #f4e8fc8b 50%,
           #f4e8fc8b 50%,
           #f4e8fc8b 100%
         );
       }

       .contact-right{
        display: flex;   
          justify-content: center;
          padding-right: 0;
          padding-left: 0;
        padding-top: 0;
        width: 100%;
        background: linear-gradient(
        to right,
        #f4e8fc8b 0%,
        f4e8fc8b 50%,
           #f4e8fc8b 50%,
           #f4e8fc8b 100%
         );
       }

       .start-cont{
        display: flex;   
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
         padding-top: 20px;
       }

      .two-a a{
        font-size: 12px;
        line-height: 0em;
      }

      .one-a a{
        font-size: 11px;
        line-height: 0em;
      }


      /* footer */


    .footer{
        all: unset;
        width: 100%;
        background: linear-gradient(
        to right,
        #f4e8fcec 0%,
        #f4e8fcec 50%,
           #f4e8fc62 50%,
           #f4e8fc41 100%
         );
    } 

 
    .ul-footer{
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
 
    .footer-logo{
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: -87px;
        margin-top: -29px;
    }
    .footer-logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        width: 170px;
    }
    
    .social-media{
        all: unset;
        padding-top: 15px;
        font-size: 0;
        text-decoration: none;
        display: flex;   
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        gap: 0px;
    }

    .social-media img{
        text-decoration: none;
        padding-top: 55px;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        
    }


    .rightss{
        all: unset;
        padding-top: 35px;
        line-height: 0.5em;
    }

    .rightss p{
        display: flex;
        justify-content: center;
        font-size: 14px;
      
    }

    .semi-circle{
        position: absolute;
        height: 35.2em;
        width: 100%;
        border-radius: 50% 50% 0 0;
        background-color:  #ad38d41a;
        margin-top: -98px;
        z-index: -2;
      }

}
/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .text1{
        font-size: 5em;
    }

    .text2{
        font-size: 5em;
    }

    #contact-info a{
        font-size: 13px;
    }
    .left-content {
        justify-content: flex-start;
    } 

    /* service */

    .titles{
        font-size: 22px;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .li1 span{
        font-size: 12px;
      }

      .li2 span{
        font-size: 12px;
      }

      .li3 span{
        font-size: 12px;
      }

      .sous-title{
        font-size: 12px;
      }

     .service-right{
        padding-left: 0px;
        padding-top: 20px;
    }

    .service-left{
        padding-left: 30px;
        padding-top: 20px;
    }

    /* solution */

    .right-solution{
        padding-top: 0px;
        padding-bottom: 0;
    }

    .left-solution{
        padding-top: 0px;
        padding-bottom: 0;
    }

    .solution{
        padding-top: 0;
        margin: 0;
        padding-bottom: 0;
    }

    .sous-solution1{
        padding-top: 0;
        padding-bottom: 0px;
        margin: 0;
    }

    .sous-solution2{
        padding-top: 0;
        padding-bottom: 20px;
        margin: 0;
    }
 

    
    .title3{
        font-size: 40px;
        font-weight: bolder;
        padding-top: 0;
        padding-bottom: 0px;
    }

    .text3{
        font-size: 13px;
        padding-top: 0;
    }

    li::marker{
        font-size: 1rem;
        font-weight: bold;
        padding-left: 0;
        margin-left: 0;
    }

    .li3{
        padding-top: 10px;
        padding-left: 15px;
      }

      
      .li2{
        padding-top: 10px;
        padding-left: 15px;
      }

      
      .li1 {
        padding-top: 10px;
        padding-left: 15px;}

        .sous-service8{
            padding-left: 22px;
            padding-top: 30px;
          }

          .sous-service4{
            padding-left: 22px;
            padding-top: 10px;
          }

          .sous-service5{
            padding-top: 32px;
            padding-bottom: 70px;
          }

          .service3__line{
            padding-top: 15px;
            padding-bottom: 10px;
          }

          .service1__line{
            padding-top: 25px;
            padding-bottom: 10px;
          }

          .service4__line{
            padding-top: 25px;
            padding-bottom: 10px;
          }

          .sous-service2{
            padding-top: 0;
          }

          .sous-service8{
            padding-top: 0;
          }


          .service1{
            padding-top: 25px;
          }



    /* contact */



    .sous-contact1 p{
        font-size: 40px;
    }

    .sous-contact1 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: end;
        padding-right: 0;
       
    }

    .contact-line {
        border-right: 4px solid #3B025F;
        height: 80px;
        width: fit-content;
        padding-top: 129px;
        margin-left: 30px;
    }

    .contact-right {
        padding-top: 100px;
        background-color: #f4e8fc5f; 
    }

    .contact-left {
        padding-top: 100px; 
    }


    .two-a {
        line-height: 2em;
        font-weight: 400;
        font-size: 13px;
    }
    
    .one-a {
        font-weight: 400;
        font-size: 13px;
    }
    
    
    .start-cont{
        display: flex;
        justify-content: start;
        padding-left: 50px;
    }
    
    .sous-contact3{
       
        font-size: 18px;
    }
    .sous-contact3 a {
        text-decoration: none;
        color: #3B025F;
    }
    .semi-circle{

        position: absolute;
        height: 41em;
        width: 100%;
        border-radius: 100% 100% 0 0;
        background-color:  #ad38d418;

        margin-top: -57px;
        z-index: -2;
      }

      


 
    .footer-logo{
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: -87px;
        margin-top: -29px;
    }
    .footer-logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        width: 170px;
    }
    
    .social-media{
        all: unset;
        padding-top: 0px;
        font-size: 0;
        text-decoration: none;
        display: flex;   
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        gap: 10px;
    }

    .social-media img{
        
        text-decoration: none;
        padding-top: 30px;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .social-media a{
        padding-right: 5px;
        
    }

    .rightss{
        all: unset;
        padding-top: 35px;
        line-height: 0.5em;
    }

    .rightss p{
        display: flex;
        justify-content: center;
        font-size: 12px;
      
    }

}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
   
    .text1{
        font-size: 7em;
    }

    .text2{
        font-size: 7em;
    }

    #contact-info a{
        font-size: 13px;
    }
    .left-content {

        justify-content: flex-start;

    } 

    /* service */

    .titles{
        font-size: 28px;
        padding-left: 0;
        padding-bottom: 0;
    }

    
    .li1 span{
        font-size: 13px;
      }

      .li2 span{
        font-size: 13px;
      }

      .li3 span{
        font-size: 13px;
      }

      .sous-title{
        font-size: 15px;
      }

     .service-right{
        padding-left: 10px;
        padding-top: 20px;
    }

    .service-left{
        padding-top: 25px;
        margin-top: 0px;
        padding-left: 42px;
    }

    .service4{
        padding-top: -50px;
        margin-top: -50px;
    }

    .service4__line{
        padding-bottom: 40px;
    }

    .sous-service7{
        padding-top: 30px;
    }

    .sous-service6{
        padding-top: 30px;
    }


    .sous-service8{
        padding-top: -80px;
        padding-bottom: 0;
    }
    
    .li3 {
        padding-top: 4px;
        padding-left: 27px;
    }

    .right-solution{
        padding-top: 50px;
    }
    .title3{
        font-size: 55px;
        font-weight: bolder;
    }

    .text3{
        font-size: 15px;
    }

    li::marker{
        font-size: 2rem;
        font-weight: bold;
        padding-left: 0;
        margin-left: 0;
    }
      
      .li2{
        padding-top: 10px;
        padding-left: 26px;
      }

      
      .li1 {
        padding-top: 0;
        padding-left: 15px;}

        .sous-service8{
            padding-left: 22px;
            padding-top: 30px;
          }

          .sous-service4{
            padding-left: 22px;
            padding-top: 10px;
          }

    /* contact */


    .contact-left{
        all: unset;
        margin-left: auto;
        margin-right: auto;
        padding-top: 120px;
        padding-left: 250px;
    }

    .sous-contact1 p{
        font-size: 40px;
    }

    .sous-contact1 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: end;
        padding-right: 0;
       
    }

    .contact-line {
        border-right: 4px solid #3B025F;
        height: 80px;
        width: fit-content;
        padding-top: 129px;
        padding-right: 0;
    }

    .contact-right {
        padding-top: 280px;
        background-color: #f4e8fc5f;
       
    }

    .contact-right{
        padding-top: 120px;
        padding-left: 0;
    } 

    .two-a {
        line-height: 2em;
        font-weight: 400;
        font-size: 13px;
    }
    
    .one-a {
        font-weight: 400;
        font-size: 13px;
    }
    
    
    .start-cont{
        display: flex;
        justify-content: start;
        padding-left: 50px;
    }
    
    .sous-contact3{
       
        font-size: 18px;
    }
    .sous-contact3 a {
        text-decoration: none;
        color: #3B025F;
    }
    .semi-circle{
        position: absolute;
        height: 55em;
        width: 100%;
        border-radius: 100% 100% 0 0;
        background-color:  #ad38d411; 
        margin-top: -62px;
        z-index: -2;
      }

}

@media (min-width: 1200px) {
   
    .text1{
        font-size: 8.5em;
    }

    .text2{
        font-size: 8.5em;
    }

    #contact-info a{
        font-size: 15px;
    }
    .left-content {

        justify-content: flex-start;

    } 

    /* service */

    .titles{
        font-size: 37px;
        padding-left: 0;
        padding-bottom: 0;
    }

    
    .li1 span{
        font-size: 18px;
      }

      .li2 span{
        font-size: 18px;
      }

      .li3 span{
        font-size: 18px;
      }

      .sous-title{
        font-size: 22px;
      }

     .service-right{
        padding-left: 10px;
    }

    .right-solution{
        padding-top: 90px;
    }
    .title3{
        font-size: 65px;
        font-weight: bolder;
    }

    .text3{
        font-size: 15px;
    }

    li::marker{
        font-size: 2rem;
        font-weight: bold;
        padding-left: 0;
        margin-left: 0;
    }

    .li3{
        padding-top: 40px;
        padding-left: 15px;
      }

      
      .li2{
        padding-top: 0;
        padding-left: 15px;
      }

      
      .li1 {
        padding-top: 0;
        padding-left: 15px;}

        .sous-service8{
            padding-left: 22px;
            padding-top: 30px;
          }

          .sous-service4{
            padding-left: 22px;
            padding-top: 10px;
          }

    /* contact */
   
.line1 {
    background-color: #8B00E1;
    height: 8px;
    border-radius: 10px;
    width: 5%;
}

.line2 {
    background-color: #8B00E1;
    height: 8px;
    border-radius: 10px;
    width: 10%;
}

.line3 {
    background-color: #8B00E1;
    height: 8px;
    border-radius: 10px;
    width: 35%;
}


    .semi-circle{
        position: absolute;
        height: 19em;
        width: 100%;
        border-radius: 100% 100% 0 0;
        background-color:  #ad38d408;

        margin-top: -79px;
        z-index: -2;
      }

}