
/*--==================== header ====================-->*/

.nav__menu {
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .nav__list {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    column-gap: 40px;
    justify-items: center;
    align-items: center;
  }
  
  .nav__item {
    color: #12033d;
  }
  
  .nav__item a {
    color: #12033d;
    font-size: 21px;
    font-weight: 600;
  }
@media (min-width: 768px) and (max-width: 991px) {
    
.header{
    width: 100%;
  }
  .nav__menu {
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .nav__list {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    column-gap: 40px;
    justify-items: center;
    align-items: center;
  }
  
  .nav__item {
    color: #12033d;
  }
  
  .nav__item a {
    color: #12033d;
  }
  
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header{
        width: 100%;
      }
      .nav__menu {
        background-color: white;
        display: grid;
        justify-items: center;
        align-items: center;
      }
      
      .nav__list {
        display: grid;
        grid-template-columns: 120px 120px 120px 120px 120px;
        column-gap: 40px;
        justify-items: center;
        align-items: center;
      }
      
      .nav__item {
        color: #12033d;
      }
      
      .nav__item a {
        color: #12033d;
      }
}
@media (min-width: 1200px) and (max-width: 1919px) {
    
.nav__menu {
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .nav__list {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    column-gap: 40px;
    justify-items: center;
    align-items: center;
  }
  
  .nav__item {
    color: #12033d;
  }
  
  .nav__item a {
    color: #12033d;
    font-size: 21px;
    font-weight: 600;
  }
}